<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->

    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
       The structure of education in the state is based on the national level pattern with 12 years of schooling (10+2+3),
        consisting of eight years of elementary education, that is, five years of primary and three years of middle school
        education for the age groups of 6-11 and 11–14 years, respectively, followed by secondary and higher Secondary
        education of two years each besides two years of pre-primary education. The entry age in class 1 is 5+.
        Pre-primary classes form age group 3 to 4. The higher secondary school certificate enables pupils to pursue studies
        either in universities or in colleges for higher education in general academic streams and in technical and professional
        courses.
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->

    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->